.text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.text_label {
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
}

.text_box{
    width: 100%;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    margin-top: 20px;
}

.text_submit{
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 18px;
    background-color: #282c34;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px #282c34;
}

@media (max-width: 800px) {
    .text {
        width: 50%;
        flex-direction: column;
    }
}